/* IMPORTS */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:600');

:root {
  /* COLORS */
  --pink: hsl(322, 100%, 66%);
  --pale-cyan: hsl(193, 100%, 96%);
  --dark-cyan: hsl(192, 100%, 9%);
  --gray:  hsl(208, 11%, 55%);
  --light-gray:  hsl(208, 11%, 95%);
  --white: hsl(0, 100%, 100%);


  /* SPACING */
  --quarter: 4px;
  --half: 8px;
  --x1: 16px;
  --x2: 32px;
  --x4: 64px;
  --x8: 128px;

  /* FONT-FAMILY */
  --heading-family: 'Poppins', sans-serif;
  --body-family: 'Open Sans', sans-serif;

  /* FONT-WEIGHT */
  --heading-weight: 600;
  --body-weight: 400;
  --body-weight-bold: 700;
}

/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  /* 1rem = 10px */
  font-size: 62.5%;
}

h1, h2, p {
  margin: 0;
}

/* TYPOGRAPHY */
.t-heading {
  font-family: var(--heading-family);
  font-size: 2.4rem;
  font-weight: var(--heading-weight);
  line-height: 3.0rem;
}

.t-body {
  font-family: var(--body-family);
  font-size: 1.8rem;
  font-weight: var(--body-weight);
  line-height: 2.6rem;
}

.t-button {
  font-family: var(--body-family);
  font-size: 1.4rem;
  font-weight: var(--body-weight-bold);
}

.t-copy {
  font-family: var(--body-family);
  font-size: 1.2rem;
  font-weight: var(--body-weight);
  line-height: 2.6rem;
}

/* ELEMENTS */

.pink-button {
  padding: var(--x1) var(--x4);
  border: none;
  border-radius: 5rem;
  background-color: var(--pink);
  box-shadow: 0 .5rem 1rem -.5rem var(--gray);
  color: var(--white);
  /* transition:  background-color 300ms ease-in; */
}
.pink-button:hover {
  cursor: pointer;
  background-color: var(--dark-cyan);
  color: var(--pale-cyan);
}

/* HEADER SECTION */
.header {
  /* max-width: 100vw; */
  height: 6rem;
  padding: 0 var(--x1);
  background-color: var(--pale-cyan);
  /* background-image: linear-gradient(var(--pale-cyan) 95%, transparent 100%); */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 10rem;
}

.header__button {
  padding: var(--quarter) var(--x2);
  border: none;
  border-radius: 5rem;
  background-color: var(--white);
  box-shadow: 0 .5rem 1rem -.5rem var(--gray);
}
.header__button:hover {
  cursor: pointer;
  background-color: var(--pink);
  color: var(--white)
}


/* MAIN SECTION */
.main {
  background-color: var(--light-gray);
}

/* MAIN > HERO SECTION */
.hero {
  max-width: 100%;
  /* min-height: 100vh; */
  box-sizing: border-box;
  padding: var(--x8) var(--x2);
  background-color: var(--pale-cyan);
  background-image: url(starter-files/images/bg-hero-mobile.svg);
  background-size: 100% 100%;
  background-position: center 10rem;
  text-align: center;
}

.hero__heading {
  margin-bottom: var(--x1);
}

.hero__body {
  margin-bottom: var(--x1);
}

.hero__button {
  margin-bottom: var(--x2);
}

.hero__image {
  max-width: 90%;
}

/* MAIN > CARDS SECTION */
.cards {
  padding: var(--x4) var(--x1);
}

.card {
  padding: var(--x2) var(--x2);
  border-radius: 2rem;
  background-color: var(--white);
  text-align: center;
}
.card:not(:last-child) {
  margin-bottom: var(--x4);
}

.card__image {
  max-width: 100%;
  margin-bottom: var(--x2);
}

.card__heading {
  margin-bottom: var(--x1);
}

.card__body {
  padding: 0 var(--x1);
  color: var(--gray);
}


/* MAIN > LAST SECTION */
.last {
  padding: var(--x2) var(--x1);
  background-image: linear-gradient(var(--light-gray) 60%, var(--dark-cyan) 60%);
}
.last__card {
  padding: var(--x2) var(--x1);
  border-radius: 2rem;
  background-color: var(--white);
  text-align: center;
}
.last__heading {
  margin-bottom: var(--x1);
}

.last__button {

}

/* FOOTER SECTION */
.footer {
  padding: var(--x2) var(--x2);
  background-color: var(--dark-cyan);
  color: var(--white);
}

.footer__info-items {
  padding: 0;
  list-style: none;
}
.footer__info-item {
  padding: var(--half) var(--quarter);
}
.footer__info-item__logo {
  margin-right: 1rem;
}

.footer__links-items {
  margin: var(--x4) 0;
  padding: 0;
  list-style: none;
}
.footer__links-item {
  padding: var(--half) var(--quarter);
}
.footer__links-item:not(:first-child):not(:last-child) {
  margin: var(--half) 0;
}

.footer__link {
  color: var(--white);
  text-decoration: none;
  border-bottom: .2rem solid var(--white);
}
.footer__link:hover {
  cursor: pointer;
  color: var(--pink);
}

.footer__socials {
  margin-bottom: var(--x2);
  display: flex;
  justify-content: center;
}
.footer__social {
  width: 4rem;
  height: 4rem;
  margin: 0 var(--half);
  border: 1px solid var(--white);
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__social-icon {
  height: 2rem;
}
.footer__social:hover {
  cursor: pointer;
  background-color: var(--gray);
}

.footer__copyright {
  margin-bottom: var(--half);
  text-align: center;
}
