/* TYPOGRAPHY */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  /* regular is 400 in this font */
  font-weight: 400;
  /* we provide woff2 as the principal because its the most modern */
  /* then we set the others as fallbacks */
  src: url('./assets/fonts/muli/Muli-Regular.woff2'),
       url('./assets/fonts/muli/Muli-Regular.woff'),
       url('./assets/fonts/muli/Muli-Regular.ttf');
}

@font-face {
  font-family: 'Muli';
  font-style: normal;
  /* bold is 700 in this font */
  font-weight: 700;
  /* we provide woff2 as the principal because its the most modern */
  /* then we set the others as fallbacks */
  src: url('./assets/fonts/muli/Muli-Bold.woff2'),
       url('./assets/fonts/muli/Muli-Bold.woff'),
       url('./assets/fonts/muli/Muli-Bold.ttf');
}

@font-face {
  font-family: 'Muli';
  font-style: normal;
  /* black is 900 in this font */
  font-weight: 900;
  /* we provide woff2 as Blackncipal because its the most modern */
  /* then we set the others as fallbacks */
  src: url('./assets/fonts/muli/Muli-Black.woff2'),
       url('./assets/fonts/muli/Muli-Black.woff'),
       url('./assets/fonts/muli/Muli-Black.ttf');
}

@font-face {
  font-family: 'Yeseva One';
  font-style: normal;
  /* regular is 400 in this font */
  font-weight: 400;
  /* we provide woff2 as the principal because its the most modern */
  /* then we set the others as fallbacks */
  src: url('./assets/fonts/yeseva-one/YesevaOne-Regular.woff2'),
       url('./assets/fonts/yeseva-one/YesevaOne-Regular.woff'),
       url('./assets/fonts/yeseva-one/YesevaOne-Regular.ttf');
}

/* CUSTOM PROPERTIES */
:root {
  /* colorbook */
  /* 011 and so on references to lighting % of the color */
  --color-charcoal-011: #161c24;
  --color-charcoal-021: #203342;
  --color-charcoal-046: #737678;
  --color-white: #fff;
  --color-alarm-049: #ec110d;
  --color-alarm-039: #bd0e0a;
  --color-slate-blue-050: #4878b8;

  /* spacing */
  --space-eight: 0.2rem;
  --space-quarter: 0.4rem;
  --space-half: 0.8rem;
  --space-default: 1.6rem;
  --space-double: 3.2rem;
  --space-quad: 6.4rem;
  --space-oct: 12.8rem;

  /* typography */
  --font-family-sans: 'Muli', sans-serif;
  --font-family-serif: 'Yeseva One', serif;

  /* font weights */
  --weight-regular: 400;
  --weight-bold: 700;
  --weight-black: 900;

  /* design elements */
  --transition: 300ms ease-in-out;
  --border-radius-default: 0.4rem;
  --border-radius-large: 0.8rem;
}

/* RESET & DEFAULT STYLING */
html {
  box-sizing: border-box;
  /* usually -> */
  /* 1rem = 16px */
  font-size: 62.5%;
  /* makes 1rem = 10px */
  /* easier because 12px = 1.2rem */
}

*, *::before, *::after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--font-family-sans);
  font-size: 1.6rem;
  /* 16px */
  background-color: var(--color-white);
}

/* TYPE SPECS */
.t-brand {
  font-family: var(--font-family-sans);
  font-size: 2.4rem;
  font-weight: var(--weight-black);
  line-height: 1;
}

.t-copy-large {
  font-family: var(--font-family-sans);
  font-size: 1.6rem;
  font-weight: var(--weight-bold);
  line-height: 1;
}

.t-display {
  font-family: var(--font-family-serif);
  letter-spacing: -0.2rem;
}
/* mobile */
@media (max-width: 575px) {
  .t-display {
    font-size: 3.2rem;
    line-height: 1.25;
  }
}
/* desktop */
@media (min-width: 576px) {
  .t-display {
    font-size: 8rem;
    line-height: 1.2;
  }
}

.t-body {
  font-family: var(--font-family-sans);
  font-size: 1.4rem;
  font-weight: var(--weight-regular);
  line-height: 1.286;
  /* the following can be seen in figma */
  /* font-height/font-size -> 18px/14px = 1.286 */
}

.t-title {
  font-family: var(--font-family-sans);
  font-weight: var(--weight-black);
}
/* mobile */
@media (max-width: 575px) {
  .t-title {
    font-size: 2.4rem;
    line-height: 1.167;
  }
}
/* desktop */
@media (min-width: 576px) {
  .t-title {
    font-size: 2.8rem;
    line-height: 1.243;
  }
}

.t-section-number {
  font-family: var(--font-family-serif);
  font-size: 12rem;
  line-height: 1;
  letter-spacing: -0.2rem;
}

/* responsivenes for specific cases */
.t-copy-fluid {
  font-family: var(--font-family-sans);
  font-weight: var(--weight-bold);
  line-height: 1;
}
/* mobile */
@media (max-width: 575px) {
  .t-copy-fluid {
    font-size: 1.4rem;
  }
}
/* desktop */
@media (min-width: 576px) {
  .t-copy-fluid {
    font-size: 1.6rem;
  }
}

/* screen-reader-only */
.screen-reader-only {
  /* visually hide */
  padding: 0;
  width: 1px;
  height: 1px;
  position: absolute;
  /* the older version */
  clip: rect(1px, 1px, 1px, 1px);
  /* newer version */
  clip-path: inset(0px 0px 99.9% 99.9%)
  overflow: hidden;
  border: 0;
}

/* skip-nav */
/* by default it shouldn't be seen */
.skip-nav {
  padding: var(--space-default);
  display: inline-block;
  color: var(--color-white);
  background-color: var(--color-charcoal-021);
  border-radius: var(--border-radius-default);
  text-decoration: none;
  /* good practice to always specify which property will
  have the transition effect, helps with performance */
  transition: var(--transition) background-color,
              var(--transition) transform;
  /* hiding the element - default */
  position: absolute; /* so it doesn't interfere with the normal flow */
}
/* mobile */
@media (max-width: 575px){
  .skip-nav {
    transform: translate(var(--space-default), calc(var(--space-quad) * -1));
  }
}
/* desktop */
@media (min-width: 576px){
  .skip-nav {
    transform: translate(var(--space-oct), calc(var(--space-quad) * -1));
  }
}
.skip-nav:hover {
  background-color: var(--color-charcoal-011);
}
.skip-nav:focus {
  outline: 0.4rem solid var(--color-slate-blue-050);
  outline-offset: 0.2rem;
  /* showing the element - on focus */
  transform: translate(var(--space-oct), var(--space-double));
}
/* mobile */
@media (max-width: 575px){
  .skip-nav:focus {
    transform: translate(var(--space-default), var(--space-default));
  }
}
/* desktop */
@media (min-width: 576px){
  .skip-nav:focus {
    transform: translate(var(--space-oct), var(--space-double));
  }
}

/* header */
.header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 575px) {
  .header {
    padding-right: var(--space-default);
    padding-left: var(--space-default);
    /* allows to acomodate in case user zooms */
    /* using fixed height could break layout */
    min-height: var(--space-quad);
  }
}

/* brand */
.brand {
  color: var(--color-charcoal-021);
  text-decoration: none;
  transition: var(--transition) color;
}
.brand:hover {
  color: var(--color-charcoal-046);
}
.brand:focus {
  outline: 0.4rem solid var(--color-slate-blue-050);
  outline-offset: 0.2rem;
}

/* search */
.button-icon {
  padding: 0;
  min-width: 4.8rem;
  min-height: 4.8rem;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-icon:hover {
  cursor: pointer;
}
.button-icon:hover .button-icon__icon {
  fill: var(--color-charcoal-046);
}
.button-icon:focus {
  outline: 0.4rem solid var(--color-slate-blue-050);
  outline-offset: -0.2rem;
}
/* BEM syntax */
.button-icon__icon {
  fill: var(--color-charcoal-021);
  transition: var(--transition) fill;
}

.search {
  /* hide search form - default */
  /* use display because we don't want interaction
  until the form is opened,
  this also takes off the screen-reader trigger */
  display: none;
}
/* js state */
.search--is-open {
  display: block;
  /* so it stays on top of header */
  position: absolute;
  width: calc(100% - var(--space-default) - var(--space-default))
}
.search__input {
  width: 100%;
  height: 4.8rem;
  color: var(--color-charcoal-021);
  border: none;
  border-bottom: 0.2rem solid var(--color-charcoal-021);
}
.search__input::placeholder {
  color: var(--color-charcoal-046);
}
/* browser prefixes are better added after styling is done */
/* using them already for testing */
.search__input::-webkit-input-placeholder {
  color: var(--color-charcoal-046);
}
.search__input::-moz-placeholder {
  color: var(--color-charcoal-046);
}
.search__input::-ms-placeholder {
  color: var(--color-charcoal-046);
}
.search__input::placeholder {
  color: var(--color-charcoal-046);
}
.search__input:focus {
  border-bottom-color: var(--color-slate-blue-050);
}

.search__submit {
  position: absolute;
  top: 0;
  right: 0;
}
