/* TYPOGRAPHY */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  /* regular is 400 in this font */
  font-weight: 400;
  /* we provide woff2 as the principal because its the most modern */
  /* then we set the others as fallbacks */
  src: url('./assets/fonts/muli/Muli-Regular.woff2'),
       url('./assets/fonts/muli/Muli-Regular.woff'),
       url('./assets/fonts/muli/Muli-Regular.ttf');
}

@font-face {
  font-family: 'Muli';
  font-style: normal;
  /* bold is 700 in this font */
  font-weight: 700;
  /* we provide woff2 as the principal because its the most modern */
  /* then we set the others as fallbacks */
  src: url('./assets/fonts/muli/Muli-Bold.woff2'),
       url('./assets/fonts/muli/Muli-Bold.woff'),
       url('./assets/fonts/muli/Muli-Bold.ttf');
}

@font-face {
  font-family: 'Muli';
  font-style: normal;
  /* black is 900 in this font */
  font-weight: 900;
  /* we provide woff2 as Blackncipal because its the most modern */
  /* then we set the others as fallbacks */
  src: url('./assets/fonts/muli/Muli-Black.woff2'),
       url('./assets/fonts/muli/Muli-Black.woff'),
       url('./assets/fonts/muli/Muli-Black.ttf');
}

@font-face {
  font-family: 'Yeseva One';
  font-style: normal;
  /* regular is 400 in this font */
  font-weight: 400;
  /* we provide woff2 as the principal because its the most modern */
  /* then we set the others as fallbacks */
  src: url('./assets/fonts/yeseva-one/YesevaOne-Regular.woff2'),
       url('./assets/fonts/yeseva-one/YesevaOne-Regular.woff'),
       url('./assets/fonts/yeseva-one/YesevaOne-Regular.ttf');
}

/* CUSTOM PROPERTIES */
:root {
  /* colorbook */
  /* 011 and so on references to lighting % of the color */
  --color-charcoal-011: #161c24;
  --color-charcoal-021: #203342;
  --color-charcoal-046: #737678;
  --color-white: #fff;
  --color-alarm-049: #ec110d;
  --color-alarm-039: #bd0e0a;
  --color-slate-blue-050: #4878b8;

  /* spacing */
  --space-eight: 0.2rem;
  --space-quarter: 0.4rem;
  --space-half: 0.8rem;
  --space-default: 1.6rem;
  --space-double: 3.2rem;
  --space-quad: 6.4rem;
  --space-oct: 12.8rem;

  /* typography */
  --font-family-sans: 'Muli', sans-serif;
  --font-family-serif: 'Yeseva One', serif;

  /* font weights */
  --weight-regular: 400;
  --weight-bold: 700;
  --weight-black: 900;

  /* design elements */
  --transition: 300ms ease-in-out;
  --border-radius-default: 0.4rem;
  --border-radius-large: 0.8rem;
}

/* RESET & DEFAULT STYLING */
html {
  box-sizing: border-box;
  /* usually -> */
  /* 1rem = 16px */
  font-size: 62.5%;
  /* makes 1rem = 10px */
  /* easier because 12px = 1.2rem */
}

*, *::before, *::after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--font-family-sans);
  font-size: 1.6rem;
  /* 16px */
  background-color: var(--color-white);
}

/* TYPE SPECS */
.t-brand {
  font-family: var(--font-family-sans);
  font-size: 2.4rem;
  font-weight: var(--weight-black);
  line-height: 1;
}

.t-copy-large {
  font-family: var(--font-family-sans);
  font-size: 1.6rem;
  font-weight: var(--weight-bold);
  line-height: 1;
}

.t-link {
  font-family: var(--font-family-sans);
  font-size: 1.6rem;
  font-weight: var(--weight-bold);
  line-height: 1;
  color: var(--color-charcoal-021);
  transition: var(--transition) color,
              var(--transition) outline-color;
  outline: 0.4rem solid transparent;
}
.tlink:hover {
  color: var(--color-charcoal-046);
}
.telink:focus {
  outline-color: var(--color-slate-blue-050);
  outline-offset: 0.2rem;
}

.t-display {
  font-family: var(--font-family-serif);
  letter-spacing: -0.2rem;
}
/* mobile */
@media (max-width: 575px) {
  .t-display {
    font-size: 3.2rem;
    line-height: 1.25;
  }
}
/* in between breakpoint */
@media (min-width: 576px) and (max-width: 1399px) {
  .t-display {
    font-size: 5.6rem;
    line-height: 1.143;
  }
}
/* desktop */
@media (min-width: 1400px) {
  .t-display {
    font-size: 8rem;
    line-height: 1.2;
  }
}

.t-body {
  font-family: var(--font-family-sans);
  font-size: 1.4rem;
  font-weight: var(--weight-regular);
  line-height: 1.286;
  /* the following can be seen in figma */
  /* font-height/font-size -> 18px/14px = 1.286 */
}

.t-title {
  font-family: var(--font-family-sans);
  font-weight: var(--weight-black);
}
/* mobile */
@media (max-width: 575px) {
  .t-title {
    font-size: 2.4rem;
    line-height: 1.167;
  }
}
/* desktop */
@media (min-width: 576px) {
  .t-title {
    font-size: 2.8rem;
    line-height: 1.243;
  }
}

.t-section-number {
  font-family: var(--font-family-serif);
  font-size: 12rem;
  line-height: 1;
  letter-spacing: -0.2rem;
}

/* responsivenes for specific cases */
.t-copy-fluid {
  font-family: var(--font-family-sans);
  font-weight: var(--weight-bold);
  line-height: 1;
}
/* mobile */
@media (max-width: 575px) {
  .t-copy-fluid {
    font-size: 1.4rem;
  }
}
/* desktop */
@media (min-width: 576px) {
  .t-copy-fluid {
    font-size: 1.6rem;
  }
}

/* screen-reader-only */
.screen-reader-only {
  /* visually hide */
  padding: 0;
  width: 1px;
  height: 1px;
  position: absolute;
  /* the older version */
  clip: rect(1px, 1px, 1px, 1px);
  /* newer version */
  clip-path: inset(0px 0px 99.9% 99.9%)
  overflow: hidden;
  border: 0;
}

/* skip-nav */
/* by default it shouldn't be seen */
.skip-nav {
  padding: var(--space-default);
  display: inline-block;
  color: var(--color-white);
  background-color: var(--color-charcoal-021);
  border-radius: var(--border-radius-default);
  text-decoration: none;
  /* good practice to always specify which property will
  have the transition effect, helps with performance */
  transition: var(--transition) background-color,
              var(--transition) transform,
              var(--transition) outline-color;
  /* hiding the element - default */
  position: absolute; /* so it doesn't interfere with the normal flow */
  outline: 0.4rem solid transparent;
  outline-offset: 0.2rem;
}
/* mobile */
@media (max-width: 1024px){
  .skip-nav {
    transform: translate(var(--space-default), calc(var(--space-quad) * -1));
  }
}
/* desktop */
@media (min-width: 1025px){
  .skip-nav {
    transform: translate(var(--space-oct), calc(var(--space-quad) * -1));
  }
}
.skip-nav:hover {
  background-color: var(--color-charcoal-011);
}
.skip-nav:focus {
  outline-color: var(--color-slate-blue-050);
  /* showing the element - on focus */
  transform: translate(var(--space-oct), var(--space-double));
}
/* mobile */
@media (max-width: 1024px){
  .skip-nav:focus {
    transform: translate(var(--space-default), var(--space-default));
  }
}
/* desktop */
@media (min-width: 1025px){
  .skip-nav:focus {
    transform: translate(var(--space-oct), var(--space-double));
  }
}

/* BUTTONS */
.button-icon {
  padding: 0;
  min-width: 4.8rem;
  min-height: 4.8rem;
  background-color: transparent;
  color: var(--color-charcoal-021);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition) outline-color,
              var(--transition) color;
  outline: 0.4rem solid transparent;
  outline-offset: 0.2rem;
}
.button-icon:hover {
  cursor: pointer;
  color: var(--color-charcoal-046);
}
.button-icon:hover .button-icon__icon {
  fill: var(--color-charcoal-046);
}
/* takes away dotted border on focus */
/* is a default on mozilla */
.button-icon::-moz-focus-inner {
  border: none;
}
.button-icon:focus {
  outline-color: var(--color-slate-blue-050);
}
/* BEM syntax */
.button-icon__icon {
  fill: var(--color-charcoal-021);
  transition: var(--transition) fill;
}

/* header */
.header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
/* breakpoint increased */
@media (max-width: 1024px) {
  .header {
    margin-bottom: var(--space-double);
    padding-right: var(--space-default);
    padding-left: var(--space-default);
    /* allows to acomodate in case user zooms */
    /* using fixed height could break layout */
    min-height: var(--space-quad);
  }
}
@media (min-width: 1025px) {
  .header {
    margin-bottom: var(--space-quad);
    padding-right: var(--space-oct);
    padding-left: var(--space-oct);
    /* allows to acomodate in case user zooms */
    /* using fixed height could break layout */
    min-height: var(--space-oct);
  }
}

/* brand */
.brand {
  color: var(--color-charcoal-021);
  text-decoration: none;
  transition: var(--transition) color,
              var(--transition) outline-color;
  outline: 0.4rem solid transparent;
  outline-offset: 0.2rem;
}
.brand:hover {
  color: var(--color-charcoal-046);
}
.brand:focus {
  outline-color: var(--color-slate-blue-050);
}


/* SEARCH */
.search {
  /* hide search form - default */
  /* use display because we don't want interaction
  until the form is opened,
  this also takes off the screen-reader trigger */
  display: none;
}
/* js state */
.search--is-open {
  display: block;
  /* so it stays on top of header */
  position: absolute;
  /* centering orizontally */
  /* this will make it begin at 50% */
  left: 50%;
  /* this will transform relative to the element */
  /* now it will be centered */
  transform: translateX(-50%);
}
@media (max-width: 575px) {
  .search--is-open {
    width: calc(100% - var(--space-default) - var(--space-default));
  }
}
@media (min-width: 576px) and (max-width: 786px) {
  .search--is-open {
    width: 28rem;
  }
}
@media (min-width: 787px) and (max-width: 1199px){
  .search--is-open {
    width: 44rem;
  }
}
@media (min-width: 1200px) {
  .search--is-open {
    width: 50rem;
  }
}

.search__input {
  width: 100%;
  height: 4.8rem;
  padding-right: 6.4rem;
  padding-left: 0.8rem;
  color: var(--color-charcoal-021);
  border: none;
  border-bottom: 0.2rem solid var(--color-charcoal-021);
}
.search__input::placeholder {
  color: var(--color-charcoal-046);
}
/* browser prefixes are better added after styling is done */
/* using them already for testing */
.search__input::-webkit-input-placeholder {
  color: var(--color-charcoal-046);
}
.search__input::-moz-placeholder {
  color: var(--color-charcoal-046);
}
.search__input::-ms-placeholder {
  color: var(--color-charcoal-046);
}
.search__input::placeholder {
  color: var(--color-charcoal-046);
}
.search__input:focus {
  border-bottom-color: var(--color-slate-blue-050);
  border-width: 0.4rem;
  /* fixing the jump effect */
  transform: translateY(0.1rem);
}

.search__submit {
  position: absolute;
  top: 0;
  right: 0;
}

/* HEADER__CENTER */
.header__center {
  display: flex;
  align-items: center;
}


/* CENTER-NAV */
/* we jump another media query breaking point */
/* because with 575 theres not enough spacing */
@media (max-width: 786px) {
  .center-nav {
    /* why we use display none instead of hidding them like screen reader content? */
    /* bc these links will be replicated in global menu on mobile so itll be redundant */
    display: none;
  }
}

/* CENTER-NAV__ITEMS */
.center-nav__items {
  margin: 0;
  padding: 0;
  display: flex;
}
/* when nav-center shows */
@media (min-width: 787px) and (max-width: 1199px) {
  .center-nav__items {
    /* spacing between search button icon when open */
    margin-left: var(--space-quad);
  }
}
@media (min-width: 1200px) {

}

/* CENTER-NAV__ITEM */
.center-nav__item {
  list-style: none;
  /* we reference our design for padding */
}
/* everything but the first item */
.center-nav__item:not(:first-child) {
  margin-left: var(--space-double);
}

/* MENU-TRIGGER */
/* mobile */
@media (max-width: 575px) {
  .menu-trigger__icon--small {
    margin-left: var(--space-half)
  }
  .menu-trigger__icon--large {
    display: none;
  }
}
/* desktop */
@media (min-width: 576px) {
  .menu-trigger__icon--small {
    display: none;
  }
  .menu-trigger__icon--large {
    margin-left: var(--space-default);
  }
}

/* MENU */
.menu {
  display: none;
}

.menu--is-open {
  background-color: var(--color-white);
  box-shadow: -0.4rem 0 4rem rgba(40, 51, 66, 0.5);
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  /* allows scrolling the menu if necesary */
  overflow-y: auto;
}
@media (max-width: 575px) {
  .menu--is-open {
    width: 28.8rem;
    padding-right: var(--space-double);
    padding-bottom: var(--space-quad);
    padding-left: var(--space-double);
  }
}
@media (min-width: 576px) {
  .menu--is-open {
    width: 34.4rem;
    padding-right: var(--space-quad);
    padding-bottom: var(--space-quad);
    padding-left: var(--space-quad);
  }
}
@media (max-width: 1024px) {
  .menu--is-open {
    padding-top: 0.8rem;
  }
}
@media (min-width: 1025px) {
  .menu--is-open {
    padding-top: 4rem;
  }
}

.menu__close {

}
@media (max-width: 575px) {
  .menu__close {
    margin-bottom: var(--space-quad);
  }
}
@media (min-width: 576px) {
  .menu__close {
    margin-bottom: var(--space-oct);
  }
}

.menu__close__icon {
  margin-right: var(--space-default);
}

.menu__items {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (max-width: 575px) {
  .menu__items {
    margin-bottom: var(--space-quad);
  }
}
@media (min-width: 576px) {
  .menu__items {
    margin-bottom: var(--space-oct);
  }
}

.menu__item {
  margin-bottom: var(--space-default);
}

.menu__item--mobile-only {

}
@media (max-width: 786px) {
  /* show all the menu links on mobile */
  .menu__item--mobile-only {
    display: block;
  }
}
@media (min-width: 787px) {
  /* only show the ones that didn't fit in the nav center */
  .menu__item--mobile-only {
    display: none;
  }
}

.socials {
  display: flex;
  align-items: center;
  margin-bottom: var(--space-quad);
}

.social {
  margin-left: var(--space-default);
  border-radius: 50%;
  border: 0.2rem solid var(--color-charcoal-046);
}

.social__cta {
  color: var(--color-charcoal-046);
}

.menu__overlay {
  display: none;
}
.menu__overlay--is-shown {
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-charcoal-021);
  opacity: 0.4;
  border: none;
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* MAIN */
.main {

}
@media (max-width: 1199px) {
  .main {
    padding-right: var(--space-default);
    padding-left: var(--space-default);
  }
}
@media (min-width: 1200px) {
  .main {
    display: grid;
    /* . would be gutter */
    grid-template-areas: ". aside . article .";
    grid-template-columns: var(--space-oct) minmax(28.8rem, 36rem) var(--space-oct) 1fr var(--space-oct);
  }
}

/* ARTICLE */
.article {
  grid-area: article;
}

.article__heading {
  margin-top: 0;
  color: var(--color-charcoal-021);
}
@media (max-width: 575px) {
  .article__heading {
    margin-bottom: var(--space-double);
  }
}

.article__section-heading {
  margin-top: 0;
  display: flex;
  align-items: center;
  color: var(--color-charcoal-021);
}
@media (max-width: 575px) {
  .article__section-heading {
    margin-bottom: var(--space-default);
  }
}
.article__section-heading::after {
  content: '';
  width: 3.6rem;
  height: 0.2rem;
  margin-left: var(--space-default);
  background-color: var(--color-charcoal-021);
  display: inline-block;
}

.article__body {
  margin-top: 0;
  color: var(--color-charcoal-046);
}
@media (max-width: 575px) {
  .article__body {
    margin-bottom: var(--space-default);
  }
}

.article__image {
  width: 16rem;
  border-radius: 0.8rem;
  display: block;
}
.article__image--first {
  z-index: 1;
  position: absolute;
}
.article__image--second {
  margin-top: 16rem;
  /* margin-top: calc(var(--space-default) * -1); */
  /* pinning it to the right */
  margin-left: auto;
  margin-bottom: var(--space-default);
}

/* NUTRITION INFO */
.nutrition__items {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (max-width: 575px) {
  .nutrition__items {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: var(--space-double);
  }
  .nutrition__item {
    width: 50%;
    display: inline-block;
  }
}

.nutrition__item {
  color: var(--color-charcoal-021);
}
@media (max-width: 575px) {
  .nutrition__item:first-child {
    margin-bottom: var(--space-default);
  }
}

.nutrition__item__value {
  color: var(--color-charcoal-046);
}

@media (max-width: 575px) {
  .article__share {
    margin-bottom: var(--space-double);
  }
}

/* ASIDE  */
.aside {
  grid-area: aside;
}
