// ------- UTILS
// --- variables
// colorbook
$primary: hsl(0, 55%, 70%);
$light-primary: hsl(0, 60%, 90%);

$light: hsl(0, 0%, 98%);
$dark: hsl(0, 0%, 10%);
$shadow: hsla(0, 0%, 10%, .5);

$shade-1: hsl(0, 5%, 25%);
$shade-2: hsl(0, 5%, 20%);
$shade-3: hsl(0, 5%, 15%);

// --- functions 

// --- mixins
//typography
@mixin heading-2 {
  font-size: 3.875rem;
  font-weight: 700;
  letter-spacing: -2%;
  text-transform: uppercase;
}

@mixin paragraph {
  font-size: 1rem;
  font-weight: 500;
}

@mixin button {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: -1%;
  text-transform: uppercase;
}

// accessibility
@mixin visuallyHidden {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// breakpoints
@mixin for-portrait {
  @media screen and (orientation:portrait) { 
    @content;
  }
}

@mixin for-mobile {
  @media screen and (max-width: 29rem) { 
    @content;
  }
}

// --- placeholders

// --- utilities
.visuallyHidden {
  @include visuallyHidden;
}

.skip-link {
  // initial state: not visible
  left: -100%;
  position: absolute;
}

.skip-link:focus {
  // focused state: 
  left: 40%;
}

// ------- BASE 
// reset
body, h2, p, ul {
  margin: 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

// base
body {
  font-family: Roboto, sans-serif;
  background-color: $primary;
  color: $light;
}

// ------- COMPONENTS
.timer {
  // max-width: 68.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  // DESCRIPTION
  &__description {
    align-self: flex-start;
    height: 11rem;
    max-height: 25vh;
  }

  &__heading {
    @include heading-2;
    margin-bottom: .25em;

    @include for-mobile {
      font-size: 2.5rem;
    }
  }

  &__text {
    max-width: 62ch;
    margin-bottom: .5em;
  }

  // CONTENT
  &__content {
    display: flex;
    width: 100%;

    @include for-portrait {
      display: block;
      width: 30rem;
      max-width: 100%;
    }
  }

  &__nav-button {
    width: 6.25rem;
    height: 6.25rem;
    border: none;
    background-color: $light-primary;
    opacity: .7;
    transition: all .4s;

    @include for-portrait {
      width: 10rem;
      max-width: 40%;
      max-height: 10vh;
    }

    &:hover {
      cursor: pointer;
      opacity: 1;
    }

    &--left {
      background-image: url(../img/arrow.svg);
      background-repeat: no-repeat;
      background-position: center; 
    }

    &--right {
      order: 1;
      background-image: url(../img/arrow.svg);
      background-repeat: no-repeat;
      background-position: center; 
      transform: rotateY(180deg);

      @include for-portrait {
        order: 0;
      }
    }
  }

  &__info {
    flex-grow: 1;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    box-shadow: 0 .5rem 1rem $shadow;

    @include for-portrait {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    &::before {
      content: '';
      display: inline-block;
      padding-top: 39%;

      @include for-portrait {
        padding-top: 5vh;
      }
    }

    &::after {
      content: '';
      display: inline-block;
      padding-bottom: 39%;

      @include for-portrait {
        padding-bottom: 5vh;
      }
    }

    &:first-child {
      background-color: $shade-1;
    }
    &:nth-child(2) {
      background-color: $shade-2;
    }
    &:last-child {
      background-color: $shade-3;
    }
  }

  &__property {
    width: 10rem;
    max-width: 80%;
    color: $primary;
    font-size: 1.25rem;
  }

  &__value {
    width: 10rem;
    max-width: 80%;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -2.5%;
  }

  &__button {
    @include button;
    box-sizing: border-box;
    width: 28%;
    padding: 1em 2em;
    border: none;
    border-radius: .25rem;
    background-color: $dark;
    box-shadow: 0 .5rem 1rem $shadow;
    color: $light;
    position: relative;
    top: -1rem;
    left: 1rem;
    transition: transform .4s;

    &:hover {
      cursor: pointer;
      transform: translateY(-.5rem);
    }

    @include for-portrait {
      width: 80%;
    }
  }
}

// ------- LAYOUT
.body {
  box-sizing: border-box;
  min-height: 80vh;
  padding: calc(1rem + 1vh) calc(1rem + 1vw);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header {
  width: 68.75rem;
  max-width: 100%;

  // NAVIGATION
  &__nav {
    // overflow-x: scroll;
    // scrollbar-width: none;
    @include for-portrait {
      display: none;
    }
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    // margin-right: 3.75rem;
    margin-right: 3vw;
  }

  &__link {
    & {
      @include heading-2;
      color: $light-primary;
      text-decoration: none;
      opacity: .7;
      
      &:hover {
        opacity: 1;
      }
    }


    &--current {
      visibility: hidden;
    }

    &:not(&--current) {
      @media screen and (max-width: 68.75rem) {
        font-size: 2rem;
      }
    }
  }
}

.main {
  width: 68.75rem;
  max-width: 100%;
  margin-top: -4.5rem;

  @include for-portrait {
    margin-top: 0;
  }
}

// ------- PAGES 

// ------- THEMES