.container {
  max-width: $max-width;
  margin: auto;
  overflow: hidden;
  padding: 0 2 rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

// TEXT STYLES
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-primary {
  color: $primary;
}

// IMAGES 

.round-img {
  border-radius: 50%;
}

// BACKGROUNDS
.bg {
  &-primary {
    @include set-background($primary);
  }
  &-light {
    @include set-background($light);
    border: #ccc 1px solid;
  }
  &-dark {
    @include set-background($dark);
  }
  &-successs {
    @include set-background($success);
  }
  &-danger {
    @include set-background($danger);
  }
  &-white {
    @include set-background(#fff);
    border: #ccc 1px solid;
  }
}

.dark-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0; 
  left: 0;
  background-color: hsla(0, 0%, 0%, 0.7);
}

// BUTTONS
.btn {
  display: inline-block;
  background: $light;
  color: #333;
  padding: .4rem 1.3rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  margin-right: 0.5rem;
  // outline: none;
  transition: all .2s ease-in;
  &:hover {
    background: lighten($dark, 20%);
    color: #fff;
  }

  &.btn-primary {
    @include set-background($primary);
    &:hover {
      background: lighten($primary, 10%);
    }
  }
  &.btn-dark {
    @include set-background($dark);
  }
  &.btn-successs {
    @include set-background($success);
  }
  &.btn-danger {
    @include set-background($danger);
  }
}

// ALERTS 
.alert {
  padding: 1rem;
  margin: 1rem;
  opacity: 0.9; 
  background: $light;
  color: #333;

  &.alert-primary {
    @include set-background($primary);
  }
  &.alert-dark {
    @include set-background($dark);
  }
  &.alert-success {
    @include set-background($success);
  }
  &.alert-danger {
    @include set-background($danger);
  }
}

// OTHERS
.line {
  height: 1px;
  background: #ccc;
  margin: 1.5rem 0;
}

// BADGES 
.badge {
  font-size: 0.9rem;
  padding: 0.1rem;
  text-align: center;
  margin: 0.3rem;
  background: $light;
  color: #333;

  &.badge-primary {
    @include set-background($primary);
  }
}

// TABLES 

.table {
  th, td {
    padding: 1rem;
    text-align: left;
  }

  th {
    background: $light;
  }
}