/* IMPORTS */
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Poppins:400,700');

/* VARIABLES */
:root {
  /* colors */
  --violet: hsl(257, 40%, 45%);
  --light: hsl(257, 40%, 99%);
  --d-light: hsl(257, 40%, 95%);
  --dark: hsl(257, 40%, 29%);
  --focus: hsl(200, 100%, 50%);

  /* SPACING */
  --d4: 4px;
  --d2: 8px;
  --x1: 16px;
  --x2: 32px;
  --x3: 48px;
  --x4: 64px;
  --x8: 128px;
  --x16: 256px;
}

/* RESETS */

body {
  margin: 0;
  font-size: 10px;
}

h1, p {
  margin: 0;
}

ul {
  padding: 0;
}

/* TESTING */
/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */

/* TYPOGRAPHY */

.t-heading {
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}
@media (min-width: 1025px) {
  .t-heading {
    font-size: 2.4rem;
  }
}

.t-body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.0rem;
  line-height: 1.5rem;
}
@media (min-width: 1025px) {
  .t-body {
    font-size: 1.6rem;
    line-height: 2.0rem;
  }
}

.t-button {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}
@media (min-width: 1025px) {
  .t-button {
    font-size: 1.2rem;
  }
}

/* UTILITY */

.focus:focus {
  outline: 3px dotted var(--focus);
  outline-offset: 5px;
}

.screen-reader {
  /* visually hide */
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  overflow: hidden;
}

/* BASICS */
.body {
  min-height: 100vh;
  background-color: var(--violet);
  /* background-image: url('starter-files/images/bg-mobile.svg');
  background-size: 100% auto;
  background-repeat: no-repeat; */
  display: flex;
  flex-direction: column;
}
.body::after {
  /* to add some opacity to svg bg */
  content: "";
  background-image: url('starter-files/images/bg-mobile.svg');
  background-size: 100% auto;
  background-repeat: no-repeat;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

@media (min-width: 1025px) {
  .body::after {
    content: "";
    background-image: url('starter-files/images/bg-desktop.svg');
    background-size: auto 100%;
  }
}

.header {
  padding: var(--x2) var(--x2);
}
@media (min-width: 1025px) {
  .header {
    padding: var(--x4) var(--x4);
  }
}

.logo {
  width: 160px;
}
@media (min-width: 1025px) {
  .logo {
    width: 220px;
  }
}

/* MAIN */
.main {
  flex-grow: 1;
  padding: var(--x2) var(--x2);
  color: var(--light);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 1025px) {
  .main {
    width: 100%;
    padding: var(--x2) var(--x4);
    box-sizing: border-box;
    flex-direction: row;
    justify-content: center;
  }
}

@media (max-width: 1024px) {
  .zone:not(:last-child) {
    margin-bottom: var(--x4);
  }
}

@media (min-width: 1025px) {
  .main__image-zone {
    height: 90%;
  }
}

.image {
  width: 500px;
  max-width: 100%;
}
@media (min-width: 1025px) {
  .image {
    flex-grow: 2;
    width: auto;
    box-sizing: border-box;
    padding-right: var(--x4);
  }
}

.main__content-zone {
  width: 600px;
  max-width: 99%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1025px) {
  .main__content-zone {
    width: auto;
    max-width: 550px;
    height: 90%;
    justify-content: flex-start;
  }
}

.title {
  margin-bottom: var(--x1);
  text-align: center;
}
@media (min-width: 1025px) {
  .title {
    margin-right: auto;
    padding-right: 5rem;
    box-sizing: border-box;
    text-align: left;
  }
}

.description {
  margin-bottom: var(--x2);
  color: var(--d-light);
  text-align: center;
}
@media (min-width: 1025px) {
  .description {
    margin-right: auto;
    text-align: left;
  }
}

.button {
  padding: var(--d2) var(--x4);
  border: none;
  border-radius: 10rem;
  background-color: var(--light);
  box-shadow: 0rem .5rem 1rem var(--dark);
  color: var(--violet);
}
.button:hover {
  background-color: var(--d-light);
  box-shadow: none;
  cursor: pointer;
}
@media (min-width: 1025px) {
  .button {
    max-width: 25rem;
    box-sizing: border-box;
    margin-right: auto;
    text-align: left;
  }
}

/* FOOTER */
.footer {
  padding: var(--x2) var(--x2);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
@media (min-width: 1025px) {
  .footer {
    padding: var(--x2) var(--x4);
    flex-direction: row;
  }
}

.socials {
  width: 10rem;
  margin-bottom: var(--x1);
  list-style: none;
  display: flex;
  align-items: center;
}

.social {
  width: 2rem;
  height: 2rem;
  margin: 0 var(--d2);
  border: 1px solid var(--light);
  border-radius: 10rem;
}
.social:hover {
  opacity: .5;
  border: 1px solid var(--violet);
}

.social__link {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__icon {
  max-height: 1.2rem;
}
